.root {
  display: flex;
  flex-direction: column;
  margin: 20px 0 5px;
  border: 1px solid var(--color-grey);
  position: relative;
  padding: 4px;
  border-radius: 4px;
}

.label {
  position: absolute;
  bottom: 100%;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 3px;
}

.select {
  cursor: pointer;
}

.date {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.dateTo,
.dateFrom {
  flex: 1;
}

.dateTo,
.dateFrom,
.select,
.input {
  height: 16px;
  border: none;

  &:focus {
    outline: none;
  }
}
