html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.root {
  max-width: 900px;
  margin: auto;
}

.section {
  padding: 10px;
}

:root {
  --color-main: #243483;
  --color-grey: #ebebeb;
}
